<web-app>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.crm.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
</web-app>
